<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LE33x8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1E48E40235AA27B00CC37B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1E48E59235AA27B00CC37B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1E48E64235AA27C00CC37B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
