<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LE52x8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1CDBDD3239B48BB00D79CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CDBDEC239B48BB00D79CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CDBDF7239B48BB00D79CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
